body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.featured-books-section {
    text-align: center;
    padding: 20px;
}

.book-list {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
}

.book-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 15%;
    max-height: 40%;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0;
}

.book-item:hover{
    border: 2px solid; 
    border-color: rgb(22, 204, 207);
}

.book-item img {
    width: 80%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}

.book-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.book-item p {
    margin: 5px 0;
}

.book-item .genres {
    color: rgb(22, 204, 207);
    font-size: 14px;
}

.book-item .price {
    font-size: 16px;
    color: #333;
}

.book-item .original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    margin-left: 5px;
}

.book-item button {
    color: black;
    border: 2px solid rgb(22, 204, 207) ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.book-item button:hover {
    background-color: rgb(22, 204, 207);
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.book-grid{
    display: flex;
    flex-wrap: wrap;
}